.footer {
  margin-top: 100px;
  background-color: #224ba7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer p {
  color: white;
  font-size: 15px;
}
